@model MVC.Models.FuentesContactosModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FuentesContactosModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <dt>
            Fuente de contacto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuentesContactos.Nombre)
        </dd>

        <dt>
            Id de fuente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuentesContactos.Id)

        </dd>


        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
